<clickhouse>
    <profiles>
        <default>
            <async_insert>1</async_insert>
            <wait_for_async_insert>1</wait_for_async_insert>
            <max_insert_block_size>1048576</max_insert_block_size>
            <max_threads>4</max_threads>
        </default>
    </profiles>
    <logger>
        <level>warning</level>
        <console>1</console>
    </logger>
</clickhouse>
